
h1 {
    text-align: center;
    margin-top: 20px;
}


.pricing-card {
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-align: center; 
    padding: 20px; 
    background: linear-gradient(to bottom, #00bcd4, #2196f3); 
    color: #fff; 
}

.pricing-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.btn-pricing {
    border-radius: 20px; 
    transition: background-color 0.2s ease-in-out;
    background-color: white;
    color:black;
    border-radius: 5px; 
    border: none;
    padding: 10px 30px; 
    width: auto;
}


.btn-pricing:hover {
    background-color: white;
}

.pricing-card:nth-child(odd) {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.pricing-card:nth-child(even) {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}


.pricing-card:nth-child(3) {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

h1 {
    font-weight: bold;
    font-size: 24px; 
    transform: scale(0);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease, font-size 1s ease;
}

.carousel-card {
    background-color: #f8f9fa; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    padding: 20px; 
    text-align: center; 
  width: 300px;
    margin: 0 auto; 
}


.carousel-card-border {
    border: 2px solid #007bff; 
}

.carousel-card .icon {
    font-size: 40px; 
    color: #007bff; 
    margin-bottom: 10px; 
}